<form action="/posts" accept-charset="UTF-8" method="POST">
  <input type="hidden" name="authenticity_token" value="<%# form_authenticity_token %>">

  <label for="fpost">Username</label>
  <input type="text" id="fpost" name="post[post]"><br><br>
  <input type="submit" value="Submit">
</form>
